
{% extends 'base.html' %}

{% load static from staticfiles %}

{%block title %}Blogs{% endblock %}

{% block content %}



<!-- =========================
    ABOUT ME
============================== -->

<div class="row highlight-container" id="blogs-page">
    <div class="col-md-12 col-sm-10">
        <div class="">
			<header class="major">
				<h2>Latest Blog</h2>
				<div class="title-border">
				    <div class="title-block"></div>
				</div>
			</header>
			<div>
			    {% for p in posts %}
                <div class="row blog-post" id="blog-post">
                    <div class="col-sm-12">
            			<div class="float-left col-md-3 col-sm-8">
            			    <div class="blog-post-image">
            					<img src="{{ p.image.url }}" class="img-responsive" alt="{{ p.title }}">
            				</div>
            			</div>
            			<div  class="float-right col-md-9 col-sm-8">
                			<div class="blog-post-title" >
                			    <h2 class="post-title">
                    			    {% if p.category == 'Blog' %}
                    			    <a href="/{{ p.slug }}/">{{ p.title }}</a>
                    			    {% else %}
                    			    <a href="{{ p.url }}" target="_blank" >{{ p.title }}</a>
                    			    {% endif %}
                			    </h2>
                			</div>

                			<div class="blog-post-meta" >
                			    <span class="post-tag">
                			        <a href="#"><i class="post-tag-icon fa fa-user"></i>{{ p.author }}</a>
                			    </span>
                			    <span class="post-tag">
                			        <a href="#"><i class="post-tag-icon fa fa-clock-o"></i>{{ p.created_date|date:"M d, Y" }}</a>
                			    </span>
                			    <span class="post-tag">
                			        <a href="#"><i class="post-tag-icon fa fa-tag"></i>{{ p.domain }}</a>
                			    </span>
                			    <span class="post-tag">
                			        <a href="#"><i class="post-tag-icon fa fa-comments-o"></i>22</a>
                			    </span>
                			</div>
            			</div>
                    </div>
                    <div class="col-sm-12">
            			<div class="blog-post-content col-md-12 col-sm-8">
            			    {% if p.category == 'Blog' %}
            			    <a href="/{{ p.slug }}/">{{ p.content|truncatechars:300 }}</a>
            			    {% else %}
            			    <a href="{{ p.url }}" target="_blank" >{{ p.content|truncatechars:300 }}</a>
            			    {% endif %}
            			</div>
                    </div>
                </div>
                {% endfor %}

                <div class="pagination row blog-post" id="blog-post">
                    <span class="step-links">
                        {% if posts.has_previous %}
                            <a href="?page={{ posts.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                        </span>

                        {% if posts.has_next %}
                            <a href="?page={{ posts.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
		</div>
    </div>

</div>


{% endblock %}

