
{% extends 'base.html' %}

{% load static from staticfiles %}

{%block title %}Blogs{% endblock %}

{% block content %}



<!-- =========================
    ABOUT ME
============================== -->

<div class="row highlight-container" id="about-me">
    <div class="wow fadeInLeft col-md-12 col-sm-10" data-wow-delay="0.6s">
        <div class="content">
			<header class="major">
				<h2>About Me</h2>
				<p class="text-white">Full stack web developer</p>
			</header>
			<div>
                <div class="text-grey text-block"> <span class="dropcapsimple">W</span>elcome, my name is Daniel. I am a software developer from Nairobi, Kenya who loves to write software to build great products and help businesses succeed with their goals. I appreciate good design and I am seeing it's importance more then ever in todays apps, web sites and products.<br></div>
                <div class="text-grey text-block"><span class="dropcapsimple">I</span> am an aspiring entrepreneur who subscribes to the lean startup ideology and have a career aspiration to leverage strong academic and professional knowledge to enhance the provision of quality services and contribute significantly to strategic goals and objectives within organizations and the overall society.</div>
                <div class="text-grey text-block"><span class="dropcapsimple">I</span> have been working professionally in software development since 2015 in the web app spaces with experience across the finance, cash management, human resources and media domains. I occasionally dabble in blog writting and tutorial making.</div>
            </div>
		</div>
    </div>

</div>


{% endblock %}

