
{% extends 'base.html' %}

{% load static from staticfiles %}

{%block title %}Portfolio{% endblock %}

{% block content %}

<!-- =========================
    HIGHLIGHT MENU
============================== -->

<div class="row highlight-container">
    <div class="wow fadeInLeft col-md-4 col-sm-8" data-wow-delay="0.8s">
        <div class="highlight">
            <div class="highlight-head">
	            <span class="highlight-icon"><i class="fa fa-thumbs-up fa-2x"></i></span>
				<span class="highlight-title"><a href="#contact-me"> Contact me today! </a></span>
            </div>
            <p class="highlight-cotent"> I have over 2 years professional experience in front and backendend web-apps development.</p>
			<span class="highligh-link float-right"><a href="#contact-me" class="blink"><i class="fa fa-arrow-circle-o-right fa-2x"> </i></a>  </span>
        </div>
    </div>

    <div class="wow fadeInUp col-md-4 col-sm-8" data-wow-delay="1.2s">
        <div class="highlight">
            <div class="highlight-head">
	            <span class="highlight-icon"><i class="fa fa-heart fa-2x"></i></span>
				<span class="highlight-title"><a href="/resume/download/"> View my resume </a></span>
            </div>
            <p class="highlight-cotent"> Download a copy of my resume and get in contact if you think I can help in your business or project. </p>
			<span class="highligh-link float-right"><a href="/resume/download/" class="blink"><i class="fa fa-download fa-2x"> </i> </a> </span>
        </div>
    </div>

    <div class="wow fadeInRight col-md-4 col-sm-8" data-wow-delay="0.8s">
        <div class="highlight">
            <div class="highlight-head">
	            <span class="highlight-icon"><i class="fa fa-star fa-2x"></i></span>
				<span class="highlight-title"><a href="/blogs/"> Blog & tutorials </a></span>
            </div>
            <p class="highlight-cotent"> Promote positive thinking and manifest change. Read practice tutorials and blogs covering some of the most current and competitive technologies.</p>
			<span class="highligh-link float-right"><a href="/blogs/" class="blink"><i class="fa fa-arrow-circle-o-right fa-2x"> </i> </a></span>
        </div>
    </div>

</div>


<!-- =========================
    ABOUT ME
============================== -->

<div class="row highlight-container" id="about-me">
    <div class="wow fadeInLeft col-md-12 col-sm-10" data-wow-delay="0.4s">
        <div class="">
			<header class="major">
				<h2>About Me</h2>
				<p class="text-white">Full stack web developer</p>
			</header>
			<div>
                <div class="text-grey text-block"> <span class="dropcapsimple">W</span>elcome, my name is Daniel. I am a software developer from Nairobi, Kenya who loves to write software to build great products and help businesses succeed with their goals. I appreciate good design and I am seeing it's importance more than ever in todays apps, web sites and products.<br></div>
                <div class="text-grey text-block"><span class="dropcapsimple">I</span> am an aspiring entrepreneur who subscribes to the lean startup ideology and have a career aspiration to leverage strong academic and professional knowledge to enhance the provision of quality services and contribute significantly to strategic goals and objectives within organizations and the overall society.</div>
                <div class="text-grey text-block"><span class="dropcapsimple">I</span> have been working professionally in software development since 2015 in the web app spaces with experience across the finance, cash management, human resources and media domains. I occasionally dabble in blog writting and tutorial making.</div>
            </div>
		</div>
    </div>

</div>


<!-- =========================
    SKILLS HIGHLIGHT
============================== -->

<div class="row highlight-container" id="skills-highlight">
    <div class="col-md-12 col-sm-10">
        <div class="">
			<header class="major">
				<h2>Skills Highlight</h2>
			</header>
            <div class="col-sm-12" id="myCanvasContainer">
              <div class="col-md-6 col-sm-12">
				<header class="major">
					<p class="text-white">Frontend</p>
				</header>
                  <canvas class="canvas-box" id="frontendCanvas">
                    <p>Anything in here will be replaced on browsers that support the canvas element</p>
                  </canvas>
              </div>
              <div class="base-div col-md-6 col-sm-12">
				<header class="major">
					<p class="text-white">Backend</p>
				</header>
                  <canvas class="canvas-box" id="backendCanvas">
                    <p>Anything in here will be replaced on browsers that support the canvas element</p>
                  </canvas>
              </div>
            </div>
			<div class="" id="frontendTags">
			    <ul class="feature-icons">
			        <li><a ><img class="canvas-image" src=" {% static 'images/html5.png' %}">HTML5</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/css3.png' %}">CSS3</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/js.png' %}">JavaScript</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/jquery.png' %}">JQuery</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/angular.png' %}">AngularJS 1</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/vue.png' %}">VueJS 2</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/mailchimp.png' %}">MailChimp</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/api.png' %}">API</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/gulp.png' %}">Gulp</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/git1.png' %}">GIT</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/web-api.png' %}">WEB-API</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/angular2.png' %}">AngularJS 2</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/vuejs.png' %}">VueJS 2</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/git.png' %}">GIT</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/sass.png' %}">SASS</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/sass-less.png' %}">SASS-LESS</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/webpack.jpg' %}">Webpack</img></a></li>
				</ul>
			</div>
			<div class="" id="backendTags">
			    <ul class="feature-icons">
			        <li><a ><img class="canvas-image" src=" {% static 'images/php.png' %}">PHP</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/cpp.png' %}">C++</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/java.png' %}">Java</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/mysql.png' %}">MySQL</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/python.png' %}">Python</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/pgsql.png' %}">PostgreSQL</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/git.png' %}">Git</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/wamp.png' %}">WAMP</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/xxamp.png' %}">XXAMP</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/apache.png' %}">Apache</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/laravel.png' %}">Laravle</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/django.png' %}">Django</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/django-rest.png' %}">Django-Rest</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/django-python.png' %}">Django-Python</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/aws.png' %}">AWS</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/netbeans.png' %}">NetBeans</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/phpstorm.png' %}">PHPStorm</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/sublime.png' %}">Sublime Text</img></a></li>
			        <li><a ><img class="canvas-image" src=" {% static 'images/notepadpp.png' %}">Notepad ++</img></a></li>
				</ul>
			</div>
		</div>
    </div>

</div>



<!-- =========================
    CAREER ACHIEVEMENTS
============================== -->
<div class="row highlight-container" id="career-achievements">
    <div class=" col-md-12 col-sm-10" >
        <div class="">
			<header class="major">
				<h2>Career Achievements</h2>
			</header>
			<p class="plain-text text-grey"><span class="italic text-grey1"><strong class="text-white">"</strong> Just solving problems is not enough. Rather, solving problems with an end goal is what matters to me.<strong class="text-white">" </strong></span> Below include a highlight of the blogs, tutorials, and projects which I have greatly contributed in as a leverage to promote positive thinking and manifesto change within the society.</p>

    		<div class="row">

    		    <div class="slide-box col-md-4 col-sm-10">
                    <section id="">
                        <div>
                            <div class="highlight-head">
                				<span class="highlight-title">Projects </span>
        		            </div>
                        	<div class="slider portfolio-slider">
                                {% for p in projects %}
                    			<div class="slider-box gallery">
                    			    <div class="gallery-image col-sm-12">
                    					<img src="{{ p.image.url }}" class="img-responsive" alt="projects">
                                        <div class="gallery-text">
                                            <p> {{ p.content|truncatechars:50 }} </p>
                                            <span class="slider-button">
                                			    <a href="/blogs/#{{ p.slug }}"> More &raquo; </a>
                                            </span>
                                        </div>
                    				</div>
                    			</div>
                    			{% endfor %}

                        	</div>
                        </div>
                    </section>

    		    </div>



    		    <div class="slide-box base-div col-md-4 col-sm-10">

                    <section id="">
                        <div>
                            <div class="highlight-head">
                				<span class="highlight-title">Tutorials </span>
        		            </div>
                        	<div class="slider portfolio-slider">
                                {% for p in tutorials %}
                    			<div class="slider-box gallery">
                    			    <div class="gallery-image col-sm-12">
                    					<img src="{{ p.image.url }}" class="img-responsive" alt="projects">
                                        <div class="gallery-text">
                                            <p> {{ p.content|truncatechars:50 }} </p>
                                            <span class="slider-button">
                                			    <a href="/blogs/#{{ p.slug }}"> More &raquo; </a>
                                            </span>
                                        </div>
                    				</div>
                    			</div>
                    			{% endfor %}
                        	</div>
                        </div>
                    </section>

    		    </div>




    		    <div class="slide-box base-div col-md-4 col-sm-10">

                    <section>
                        <div>
                            <div class="highlight-head">
                				<span class="highlight-title">Blogs </span>
        		            </div>
                        	<div class="slider portfolio-slider ">
                                {% for p in blogs %}
                    			<div class="slider-box gallery">
                    			    <div class="gallery-image col-sm-12">
                    					<img src="{{ p.image.url }}" class="img-responsive" alt="projects">
                                        <div class="gallery-text">
                                            <p> {{ p.content|truncatechars:50 }} </p>
                                            <span class="slider-button">
                                			    <a href="/blogs/#{{ p.slug }}"> More &raquo; </a>
                                			</span>
                                        </div>
                    				</div>
                    			</div>
                    			{% endfor %}
                        	</div>
                        </div>
                    </section>

    		    </div>


    		</div>
		</div>
    </div>
</div>



<!-- =========================
    CONTACT ME
============================== -->

<div class="row highlight-container" id="contact-me">
    <div class="wow fadeInUp col-md-12 col-sm-10" data-wow-delay="0.3s">
        <div class="">
			<header class="major">
				<h2>Contact Me</h2>
				<p class="text-black">Full stack web developer</p>
			</header>
			<div class="">
			    <form method="post" action="#">
			        {% csrf_token %}
					<div class="row uniform">
						<div class="6u 12u(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
						<div class="6u 12u(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
					</div>
					<div class="row uniform">
						<div class="12u"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
					</div>
					<div class="row uniform">
						<div class="12u"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
					</div>
					<div class="row uniform">
						<div class="12u">
							<ul class="actions">
								<li><input type="submit" class="special" value="Send Message" /></li>
								<li><input type="reset" value="Reset Form" /></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
    </div>
</div>


{% endblock %}

